In [ ]:
import pandas as pd
import numpy as np
import io
import zipfile
from tqdm import tqdm
import missingno as msno

!pip install pykrx
from pykrx import stock
!pip install finance-datareader
import FinanceDataReader as fdr
import time
# !pip install zipline
# from zipline.pipeline.factors import Returns

import requests
import json
from bs4 import BeautifulSoup
import xml.etree.ElementTree as ETREE
from typing import *
import statsmodels.api as sm

# from hmmlearn.hmm import GaussianHMM
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

# 코랩에 구글 드라이브 마운트
from google.colab import drive
drive.mount("/content/drive")

### 1.재무제표 계정과목 데이터

* 재무상태표(BS)

  매출채권, 매입채무, 단기차입금, 장기매입채무 및 기타비유동채무, 장기매출채권 및 기타비유동채권

* 포괄손익계산서

  영업이익 (변화율 : (FY2, 1m), (FQ1, 1m), (FQ0, yoy)) 당기순이익 (증가율),

  매출, 총포괄손익, 매출원가, 매출총이익, 영업이익, 당기순이익(손실), 판매비와 관리비[ 판매비용과 관리비용], 법인세비용, 주당이익[주당손실], 대손상각비(손실충당금환입), 대손충당금

* 현금흐름표

  감가상각비

In [133]:
BS_account_subject_list = ["ifrs-full_Assets", "ifrs-full_Liabilities", "ifrs-full_Equity",
                           "dart_ShortTermTradeReceivable", "dart_ShortTermTradePayables",
                           "ifrs-full_CurrentAssets", "ifrs-full_CurrentLiabilities", "ifrs-full_CashAndCashEquivalents",
                           "dart_LongTermBorrowingsGross", "ifrs-full_ShorttermBorrowings"]
# 자산 | 부채 | 자본 | 매출채권 | 매입채무 | 유동자산 | 유동부채 | 현금성자산 | 장기차입금 | 총차입금 | 감가상각비

In [134]:
CIS_account_subject_list = ["ifrs-full_Revenue", "ifrs-full_CostOfSales", "ifrs-full_GrossProfit", "dart_TotalSellingGeneralAdministrativeExpenses", "dart_OperatingIncomeLoss", "ifrs-full_ProfitLossBeforeTax", "ifrs-full_ProfitLoss", "ifrs-full_EarningsPerShareAbstract"]
# 매출액 | 매출원가 | 매출총이익 | 판매비와관리비 | 영업이익(손실) | 법인세비용차감전순이익(손실)	| 당기순이익(손실) | 주당손익(EPS)

In [135]:
CF_account_subject_list = ["ifrs-full_CashFlowsFromUsedInOperatingActivities", "dart_AdjustmentsForDepreciationExpense", "dart_AdjustmentsForInterestIncome", "dart_AdjustmentsForInterestExpenses",
                           "ifrs-full_AdjustmentsForIncomeTaxExpense", "ifrs-full_CashFlowsFromUsedInInvestingActivities", "ifrs-full_CashFlowsFromUsedInFinancingActivities"]
# 영업활동현금흐름 | 감가상각비 | 이자수익 | 이자비용 | 법인세비용(수익) | 투자활동현금흐름 | 재무활동현금흐름

In [136]:
class HandlingData():

  def __init__(self,
               bs_path: str,
               cis_path: str,
               cf_path: str):
    self.BalanceSheet = pd.read_csv(
        bs_path, index_col = False, encoding = "cp949", sep = "\t")
    self.ComprehensiveIncomeSheet = pd.read_csv(
        cis_path, index_col = False, encoding = "cp949", sep = "\t")
    self.CashFlowSheet = pd.read_csv(
        cf_path, index_col = False, encoding = "cp949", sep = "\t")


  def dataInformation(self, stock_code_name: str):
    for data in [self.BalanceSheet,  self.ComprehensiveIncomeSheet, self.CashFlowSheet]:
      data[stock_code_name] = data[stock_code_name].apply( lambda x: str(x).replace("[", "") )
      data[stock_code_name] = data[stock_code_name].apply( lambda x: str(x).replace("]", "") )
      display(data.info())


  def dataPreparation(self, stock_code_name: str, account_subject_name: str,
                      bs_base_date: str, cis_base_date: str, cf_base_date: str):
    self.BalanceSheet = pd.pivot_table(
        data = self.BalanceSheet, index = stock_code_name, columns = account_subject_name, values = bs_base_date, aggfunc = "sum")
    self.ComprehensiveIncomeSheet = pd.pivot_table(
        data = self.ComprehensiveIncomeSheet, index = stock_code_name, columns = account_subject_name, values = cis_base_date, aggfunc = "sum")
    self.CashFlowSheet = pd.pivot_table(
        data = self.CashFlowSheet, index = stock_code_name, columns = account_subject_name, values = cf_base_date, aggfunc = "sum")
    return self.BalanceSheet,  self.ComprehensiveIncomeSheet, self.CashFlowSheet


  def accountSubjectSelection(self, bs_subject: List, cis_subject: List, cf_subject: List):
    self.BalanceSheet = self.BalanceSheet[bs_subject]
    self.ComprehensiveIncomeSheet = self.ComprehensiveIncomeSheet[cis_subject]
    self.CashFlowSheet = self.CashFlowSheet[cf_subject]

    FinancialSheet = pd.concat([self.BalanceSheet, self.ComprehensiveIncomeSheet], ignore_index = False, axis = 1)
    FinancialSheet = pd.concat([FinancialSheet, self.CashFlowSheet], ignore_index = False, axis = 1)
    return FinancialSheet


  # Step 2: Factor Selection
  # Step 3: Factor Calculation: Calculate factor values for each security
  # Step 4: Rank Securities: Rank securities based on each factor
  # Step 5: Factor Weighting: Assign weights to each factor

```
    pd.set_option("display.max_row", 50)
    CIS_2023_1Q_ = pd.pivot_table(
        data = CIS_2023_1Q,
        index = "종목코드",
          # 각 행(row)는 무엇으로 정의할지
        columns = "항목코드",
          # 각 열(column)은 무엇으로 정의할지
        values = "당기 1분기 3개월",
          # 각 Cell을 어떤 숫자로 계산할지
        aggfunc = "sum"
            # 계산을 어떻게 할지 : 'mean', 'sum', 'nunique' 등
          # fill_value = None,
          # margins = False,
          # dropna = True,
          # margins_name = "All",
          # observed = False,
          # sort = True
    )
```

* 2022년 1분기

In [137]:
FS20221Q = HandlingData(
  bs_path = "/content/drive/MyDrive/FS_DATA/20221Q_BS.txt",
  cis_path = "/content/drive/MyDrive/FS_DATA/20221Q_CIS.txt",
  cf_path = "/content/drive/MyDrive/FS_DATA/20221Q_CF.txt"
)

In [ ]:
FS20221Q.dataInformation(stock_code_name = "종목코드")

In [143]:
BS_2022_1Q, CIS_2022_1Q, CF_2022_1Q = FS20221Q.dataPreparation(stock_code_name = "회사명", account_subject_name = "항목코드",
                          bs_base_date = "당기 1분기말", cis_base_date = "당기 1분기 3개월", cf_base_date = "당기 1분기")

In [144]:
FS_2022_1Q = FS20221Q.accountSubjectSelection(
    bs_subject = BS_account_subject_list,
    cis_subject = CIS_account_subject_list,
    cf_subject = CF_account_subject_list)

In [ ]:
FS_2022_1Q

In [147]:
FS_2022_1Q.to_csv("/content/drive/MyDrive/FindAlpha_RiskyAsset1/data/FinancialSheetData/FS_2022_1Q.csv", index = True)

* 2022년 2분기

In [148]:
FS20222Q = HandlingData(
  bs_path = "/content/drive/MyDrive/FS_DATA/20222Q_BS.txt",
  cis_path = "/content/drive/MyDrive/FS_DATA/20222Q_CIS.txt",
  cf_path = "/content/drive/MyDrive/FS_DATA/20222Q_CF.txt"
)

In [ ]:
FS20222Q.dataInformation(stock_code_name = "종목코드")

In [150]:
BS_2022_2Q, CIS_2022_2Q, CF_2022_2Q = FS20222Q.dataPreparation(stock_code_name = "회사명", account_subject_name = "항목코드",
                         bs_base_date = "당기 반기말", cis_base_date = "당기 반기 3개월", cf_base_date = "당기 반기")

In [151]:
FS_2022_2Q = FS20222Q.accountSubjectSelection(
    bs_subject = BS_account_subject_list,
    cis_subject = CIS_account_subject_list,
    cf_subject = CF_account_subject_list)

In [152]:
FS_2022_2Q.to_csv("/content/drive/MyDrive/FindAlpha_RiskyAsset1/data/FinancialSheetData/FS_2022_2Q.csv", index = True)

* 2022년 3분기

In [153]:
FS20223Q = HandlingData(
  bs_path = "/content/drive/MyDrive/FS_DATA/20223Q_BS.txt",
  cis_path = "/content/drive/MyDrive/FS_DATA/20223Q_CIS.txt",
  cf_path = "/content/drive/MyDrive/FS_DATA/20223Q_CF.txt"
)

In [ ]:
FS20223Q.dataInformation(stock_code_name = "종목코드")

In [155]:
BS_2022_3Q, CIS_2022_3Q, CF_2022_3Q = FS20223Q.dataPreparation(stock_code_name = "회사명", account_subject_name = "항목코드",
                         bs_base_date = "당기 3분기말", cis_base_date = "당기 3분기 3개월", cf_base_date = "당기 3분기")

In [156]:
FS_2022_3Q = FS20223Q.accountSubjectSelection(
    bs_subject = BS_account_subject_list,
    cis_subject = CIS_account_subject_list,
    cf_subject = CF_account_subject_list)

In [157]:
FS_2022_3Q.to_csv("/content/drive/MyDrive/FindAlpha_RiskyAsset1/data/FinancialSheetData/FS_2022_3Q.csv", index = True)

* 2022년 4분기

In [158]:
FS20224Q = HandlingData(
  bs_path = "/content/drive/MyDrive/FS_DATA/20224Q_BS.txt",
  cis_path = "/content/drive/MyDrive/FS_DATA/20224Q_CIS.txt",
  cf_path = "/content/drive/MyDrive/FS_DATA/20224Q_CF.txt"
)

In [ ]:
FS20224Q.dataInformation(stock_code_name = "종목코드")

In [160]:
BS_2022_4Q, CIS_2022_4Q, CF_2022_4Q = FS20224Q.dataPreparation(stock_code_name = "회사명", account_subject_name = "항목코드",
                         bs_base_date = "당기", cis_base_date = "당기", cf_base_date = "당기")

In [161]:
FS_2022_4Q = FS20224Q.accountSubjectSelection(
    bs_subject = BS_account_subject_list,
    cis_subject = CIS_account_subject_list,
    cf_subject = CF_account_subject_list)

In [162]:
FS_2022_4Q.to_csv("/content/drive/MyDrive/FindAlpha_RiskyAsset1/data/FinancialSheetData/FS_2022_4Q.csv", index = True)

* 2023년 1분기

In [163]:
FS20231Q = HandlingData(
  bs_path = "/content/drive/MyDrive/FS_DATA/20231Q_BS.txt",
  cis_path = "/content/drive/MyDrive/FS_DATA/20231Q_CIS.txt",
  cf_path = "/content/drive/MyDrive/FS_DATA/20231Q_CF.txt"
)

In [ ]:
FS20231Q.dataInformation(stock_code_name = "종목코드")

In [165]:
BS_2023_1Q, CIS_2023_1Q, CF_2022_3Q = FS20231Q.dataPreparation(stock_code_name = "회사명", account_subject_name = "항목코드",
                          bs_base_date = "당기 1분기말", cis_base_date = "당기 1분기 3개월", cf_base_date = "당기 1분기")

In [166]:
FS_2023_1Q = FS20231Q.accountSubjectSelection(
    bs_subject = BS_account_subject_list,
    cis_subject = CIS_account_subject_list,
    cf_subject = CF_account_subject_list)

In [167]:
FS_2023_1Q.to_csv("/content/drive/MyDrive/FindAlpha_RiskyAsset1/data/FinancialSheetData/FS_2023_1Q.csv", index = True)

___

### 2.멀티팩터 포트폴리오를 구성하는 방법

* Mixed 방식

  각 팩터에 대한 투자 포트폴리오를 비중을 달리하여 투자하는 것

* Integrated 방식

  투자 유니버스의 각 종목에 대하여 원하는 팩터에 노출되어 있는 정도에 따라 순위를 매겨 이를 기반으로 점수를 계산한 후, z-score나 rank를 활용하여 합산 점수에 의한 포트폴리오를 구성하는 것

* Sequential 방식(Screening 방식)

  밸류 팩터 상위 포트폴리오에 속하는 종목들을 다시 모멘텀 팩터로 정렬하여 밸류 팩터 상위 종목 중 모멘텀 상위 종목을 고르거나, 또는 순서를 반대로 하는 방법


### 팩터 유형

* 퀄리티 팩터 : 회사의 과거와 현재 영업 경쟁력이 얼마나 주가에 반영되고 있는지를 보는 지표(재무구조와 수익성이 뛰어난 종목)

* 모멘텀 팩터 : 회사의 실적 추이나 과거의 주가 상승 트렌드가 주가에 반영되는지를 보는 팩터(최근 상승세를 기록한 종목)

* 밸류에이션 팩터 : 특정 밸류에이션 레벨에서 투자하였을 때 좋은 투자 성과가 나타나는지를 보는 팩터

In [ ]:
BS_account_subject_list = ["ifrs-full_Assets", "ifrs-full_Liabilities", "ifrs-full_Equity",
                           "dart_ShortTermTradeReceivable", "dart_ShortTermTradePayables",
                           "ifrs-full_CurrentAssets", "ifrs-full_CurrentLiabilities", "ifrs-full_CashAndCashEquivalents",
                           "dart_LongTermBorrowingsGross", "ifrs-full_ShorttermBorrowings"]
# 자산 | 부채 | 자본 | 매출채권 | 매입채무 | 유동자산 | 유동부채 | 현금성자산 | 장기차입금 | 총차입금 | 감가상각비

In [ ]:
CIS_account_subject_list = ["ifrs-full_Revenue", "ifrs-full_CostOfSales", "ifrs-full_GrossProfit", "dart_TotalSellingGeneralAdministrativeExpenses", "dart_OperatingIncomeLoss", "ifrs-full_ProfitLossBeforeTax", "ifrs-full_ProfitLoss", "ifrs-full_EarningsPerShareAbstract"]
# 매출액 | 매출원가 | 매출총이익 | 판매비와관리비 | 영업이익(손실) | 법인세비용차감전순이익(손실)	| 당기순이익(손실) | 주당손익(EPS)

In [ ]:
CF_account_subject_list = ["ifrs-full_CashFlowsFromUsedInOperatingActivities", "dart_AdjustmentsForDepreciationExpense", "dart_AdjustmentsForInterestIncome", "dart_AdjustmentsForInterestExpenses",
                           "ifrs-full_AdjustmentsForIncomeTaxExpense", "ifrs-full_CashFlowsFromUsedInInvestingActivities", "ifrs-full_CashFlowsFromUsedInFinancingActivities"]
# 영업활동현금흐름 | 감가상각비 | 이자수익 | 이자비용 | 법인세비용(수익) | 투자활동현금흐름 | 재무활동현금흐름

In [168]:
class MultiFactorPortfolio():

  def __init__(self,
               path_2022_1Q: str, path_2022_2Q: str, path_2022_3Q: str, path_2022_4Q: str,
               path_2023_1Q: str, KOSPI_TICKER = None, KOSDAQ_TICKER = None):
    self.FS_2022_1Q = pd.read_csv(path_2022_1Q, index_col = 0)
    self.FS_2022_2Q = pd.read_csv(path_2022_2Q, index_col = 0)
    self.FS_2022_3Q = pd.read_csv(path_2022_3Q, index_col = 0)
    self.FS_2022_4Q = pd.read_csv(path_2022_4Q, index_col = 0)
    self.FS_2023_1Q = pd.read_csv(path_2023_1Q, index_col = 0)

    self.KOSPI_TICKER = KOSPI_TICKER
    self.KOSDAQ_TICKER = KOSDAQ_TICKER


  def loadFinancialSheet(self):
    for data in [self.FS_2022_1Q, self.FS_2022_2Q, self.FS_2022_3Q, self.FS_2022_4Q, self.FS_2023_1Q]:
      data.columns = [
          "자산", "부채", "자본", "매출채권", "매입채무", "유동자산", "유동부채", "현금성자산", "장기차입금", "총차입금",
          "매출액", "매출원가", "매출총이익", "판매비와관리비", "영업이익(손실)", "법인세비용차감전순이익(손실)", "당기순이익(손실)", "주당손익(EPS)",
          "영업활동현금흐름", "감가상각비", "이자수익", "이자비용", "법인세비용(수익)", "투자활동현금흐름", "재무활동현금흐름"]
    return self.FS_2022_1Q, self.FS_2022_2Q, self.FS_2022_3Q, self.FS_2022_4Q, self.FS_2023_1Q



  def getStockCode(self, date, market):
    stock_list = pd.DataFrame(
        {"종목코드": stock.get_market_ticker_list(date, market = market)})

    stock_list["종목명"] = stock_list["종목코드"].map(lambda x: stock.get_market_ticker_name(x))
    # fdr_data = fdr.StockListing("KRX")
    # stock_list["업종"] = stock_list["종목명"].map(lambda x: fdr_data[fdr_data["Name"] == x]["Sector"].iloc[0])
    return stock_list


  def getStockList(self, base_date):
    self.KOSPI_TICKER = self.getStockCode(date = base_date, market = "KOSPI")
    self.KOSDAQ_TICKER = self.getStockCode(date = base_date, market = "KOSDAQ")


  def getFundamental(self, base_date: str):
    KOSPI_FUNDAMENTAL = stock.get_market_fundamental_by_ticker(
        date = base_date, market = "KOSPI")
    KOSPI_FUNDAMENTAL["종목코드"] = KOSPI_FUNDAMENTAL.index
    KOSPI_FUNDAMENTAL.reset_index(drop = True, inplace = True)
    self.KOSPI_TICKER = pd.merge(
        self.KOSPI_TICKER, KOSPI_FUNDAMENTAL,
        left_on = "종목코드", right_on = "종목코드", how = "outer")

    KOSDAQ_FUNDAMENTAL = stock.get_market_fundamental_by_ticker(
        date = base_date, market = "KOSDAQ")
    KOSDAQ_FUNDAMENTAL["종목코드"] = KOSDAQ_FUNDAMENTAL.index
    KOSDAQ_FUNDAMENTAL.reset_index(drop = True, inplace = True)
    self.KOSDAQ_TICKER = pd.merge(
        self.KOSDAQ_TICKER, KOSDAQ_FUNDAMENTAL,
        left_on = "종목코드", right_on = "종목코드", how = "outer")
    return self.KOSPI_TICKER, self.KOSDAQ_TICKER


  def getStockMarketPrice(self):
    i: int = 0
    KOSPI_CLOSE: List = []
    KOSPI_CLOSE_DATA = pd.DataFrame()
    for ticker in self.KOSPI_TICKER["종목코드"].tolist():
      KOSPI_CLOSE.append(fdr.DataReader(ticker, "2022"))
      KOSPI_CLOSE_DATA[ticker] = KOSPI_CLOSE[i]
        # ValueError: Cannot set a DataFrame with multiple columns to the single column 095570
      i += 1

    i: int = 0
    KOSDAQ_CLOSE: List = []
    KOSDAQ_CLOSE_DATA = pd.DataFrame()
    for ticker in self.KOSDAQ_TICKER["종목코드"].tolist():
      KOSDAQ_CLOSE.append(fdr.DataReader(ticker, "2022"))
      KOSDAQ_CLOSE_DATA[ticker] = KOSDAQ_CLOSE[i]
      i += 1

    return KOSPI_CLOSE_DATA, KOSDAQ_CLOSE_DATA

In [169]:
Indicator = MultiFactorPortfolio(
    path_2022_1Q = "/content/drive/MyDrive/FindAlpha_RiskyAsset1/data/FinancialSheetData/FS_2022_1Q.csv",
    path_2022_2Q = "/content/drive/MyDrive/FindAlpha_RiskyAsset1/data/FinancialSheetData/FS_2022_2Q.csv",
    path_2022_3Q = "/content/drive/MyDrive/FindAlpha_RiskyAsset1/data/FinancialSheetData/FS_2022_3Q.csv",
    path_2022_4Q = "/content/drive/MyDrive/FindAlpha_RiskyAsset1/data/FinancialSheetData/FS_2022_4Q.csv",
    path_2023_1Q = "/content/drive/MyDrive/FindAlpha_RiskyAsset1/data/FinancialSheetData/FS_2023_1Q.csv"
)

In [170]:
FS_2022_1Q, FS_2022_2Q, FS_2022_3Q, FS_2022_4Q, FS_2023_1Q = Indicator.loadFinancialSheet()

In [171]:
FS_2023_1Q

,자산,부채,자본,매출채권,매입채무,유동자산,유동부채,현금성자산,장기차입금,총차입금,...,법인세비용차감전순이익(손실),당기순이익(손실),주당손익(EPS),영업활동현금흐름,감가상각비,이자수익,이자비용,법인세비용(수익),투자활동현금흐름,재무활동현금흐름
회사명,,,,,,,,,,,,,,,,,,,,,
AJ네트웍스,"1,390,078,927,966","1,001,348,832,938","388,730,095,028","60,193,092,831","40,826,077,952","203,729,943,614","733,306,490,740","83,164,677,262","176,402,285,887","168,126,600,000",...,"5,866,727,300","4,575,793,424",0.0,"2,000,363,191",NaN,NaN,NaN,NaN,"-20,884,676,566","2,354,422,761"
AK홀딩스,"932,235,274,098","381,183,557,772","551,051,716,326",NaN,NaN,"75,483,188,810","381,162,742,122","38,937,987,034",0,"343,684,215,654",...,"25,285,442,838","25,285,442,838",0.0,"-3,650,319,028",NaN,NaN,NaN,NaN,0,"33,983,345,070"
APS,"275,377,782,988","93,575,180,533","181,802,602,455","2,758,920,048",NaN,"50,871,936,315","70,868,114,543","16,366,605,596","13,400,000,000","39,800,000,000",...,"-351,893,737","-206,164,285",0.0,"-1,579,978,890",NaN,NaN,NaN,NaN,"3,305,869,773","-145,330,812"
AP시스템,"543,635,058,764","267,104,148,011","276,530,910,753","63,657,287,784",NaN,"392,267,008,129","212,049,119,655","149,555,658,617","41,500,000,000","49,205,888,531",...,"16,410,486,863","12,927,165,948",0.0,"-46,538,365,598",NaN,NaN,NaN,NaN,"-23,185,775,960","564,505,272"
AP위성,"120,794,665,115","37,224,618,085","83,570,047,030","4,314,979,092","2,607,593,147","110,069,101,441","37,085,301,744","83,172,832,480",NaN,NaN,...,"-882,820,391","-882,820,391",0.0,"10,326,257,803","114,427,321","647,150,297","1,231,028",0,"29,073,246","-26,481,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
흥국,"98,088,959,259","18,625,498,482","79,463,460,777",NaN,NaN,"57,437,324,340","15,280,447,056","16,962,639,054","1,000,000,000","2,000,000,000",...,"5,530,927,121","4,349,220,769",0.0,"5,370,221,481","321,197,660","79,650,288","25,426,310","1,181,706,352","-476,344,084","-6,101,032,578"
흥국에프엔비,"188,628,627,518","101,818,372,403","86,810,255,115",NaN,NaN,"41,543,746,233","31,124,100,866","4,526,570,056","52,000,000,000","21,000,000,000",...,"2,424,074,808","1,932,370,658",0.0,"-704,346,131",NaN,NaN,NaN,NaN,"-6,598,718,453","-7,042,349,318"
흥아해운,"301,497,765,653","164,106,539,005","137,391,226,648",NaN,NaN,"81,892,766,772","48,651,311,078","36,121,751,579",NaN,NaN,...,"6,477,649,718","6,380,311,427",0.0,"5,690,924,606",NaN,NaN,NaN,NaN,"-11,263,827,710","-2,576,063,937"
희림,"192,527,029,510","126,860,932,506","65,666,097,004","85,673,894,039",NaN,"143,630,570,641","108,113,699,282","27,776,593,386",NaN,"23,000,000,000",...,"2,185,051,341","1,631,767,530",0.0,"-5,023,472,800",NaN,NaN,NaN,NaN,"-7,362,467,197","-3,193,144,082"
힘스,"80,244,675,636","20,835,329,052","59,409,346,584","1,470,297,695","2,153,409,449","29,997,778,470","18,917,050,275","2,466,302,050",0,"10,700,000,000",...,"-3,390,313,849","-2,530,755,560",0.0,"-4,265,143,390",NaN,NaN,NaN,NaN,"-1,160,095,719","3,972,797,438"

In [114]:
Indicator.getStockList(base_date = "2022-12-31")

In [115]:
KOSPI_TICKER, KOSDAQ_TICKER = Indicator.getFundamental(base_date = "2022-12-29")

In [116]:
KOSPI_TICKER

       종목코드      종목명      BPS    PER   PBR      EPS   DIV     DPS
0    095570   AJ네트웍스   8075.0   3.35  0.71   1707.0  4.72   270.0
1    006840    AK홀딩스  45961.0   0.00  0.37      0.0  1.16   200.0
2    027410      BGF  16393.0   6.29  0.26    684.0  2.56   110.0
3    282330   BGF리테일  46849.0  24.63  4.49   8547.0  1.43  3000.0
4    138930  BNK금융지주  28745.0   2.78  0.23   2341.0  8.62   560.0
..      ...      ...      ...    ...   ...      ...   ...     ...
945  108320      NaN  49208.0   3.93  1.46  18225.0  7.53  5400.0
946  377740      NaN  13602.0   1.19  0.63   7232.0  6.22   534.0
947  126720      NaN  27086.0  10.41  0.81   2114.0  1.82   400.0
948  403550      NaN   5241.0  73.23  4.15    297.0  0.00     0.0
949  446070      NaN      0.0   0.00  0.00      0.0  0.00     0.0

[950 rows x 8 columns]

In [117]:
KOSDAQ_TICKER

        종목코드    종목명      BPS     PER   PBR     EPS   DIV    DPS
0     060310     3S    829.0   63.48  2.53    33.0  0.00    0.0
1     054620    APS  10088.0   13.36  1.56  1179.0  0.63  100.0
2     265520  AP시스템  12713.0    4.67  1.44  3932.0  1.31  240.0
3     211270   AP위성   5714.0  101.52  1.76    99.0  0.70   70.0
4     032790  엠젠솔루션   1508.0    8.10  1.43   266.0  0.00    0.0
...      ...    ...      ...     ...   ...     ...   ...    ...
1647  430230    NaN      0.0    0.00  0.00     0.0  0.00    0.0
1648  435620    NaN      0.0    0.00  0.00     0.0  0.00    0.0
1649  409570    NaN      0.0    0.00  0.00     0.0  0.00    0.0
1650  436610    NaN      0.0    0.00  0.00     0.0  0.00    0.0
1651  430460    NaN      0.0    0.00  0.00     0.0  0.00    0.0

[1652 rows x 8 columns]

In [84]:
# KOSPI_CLOSE, KOSDAQ_CLOSE = Indicator.getStockMarketPrice()

In [ ]:
class MultiFactorPortfolio():

  def __init__(self, main_path,
               value_factor = None, quality_factor = None, size_factor = None, divend_factor = None,
               momentum_factor = None, growth_factor = None, volatility_factor = None, flow_factor = None):

    self.MAIN_DATA = pd.read_csv(main_path, index_col = False, encoding = "utf-8")
    self.value_factor = value_factor
      # FN Guide 모멘텀 & 밸류 지수(kBSTAR 모멘텀 밸류 ETF의 BM)
    self.quality_factor = quality_factor
      # 종목의 이익의 질
      # 제임스 오쇼너시의 데이터 기반 접근법 전략
      # ROC > 0.13 & P/E < 20, P/B < 2, 부채 대 자본비율 > 1.5 or 배당 수익률 > 0.02, EPS 연성장률 > 0.2, 배당 수익률 > 0.04 or 부채-자본비율 < 1, 2개월 가격 모멘텀 > 0 그리고 EPS 연성장률 > 0.20
    self.divend_factor = divend_factor
      # 배당
    self.size_factor = size_factor
      # 시가총액과 자산규모
    self.momentum_factor = momentum_factor
      # 시장민감도
      # Momentum Factor
      # PER < 15, ROIC > 0.15, 부채 대비 자본비율 < 0.5, 총마진성장률 > 0.03, FCF > 시가총액의 0.05
    self.growth_factor = growth_factor
      # KP + KDQ 보통주(시가총액 7,000억 원, 60일 평균 거래대금 상위 20% 이내) 종목 중
      # 1) 현재 영업이익이 적자이거나 역성장하며 부진했으나,
      # 2) 향후 흑자전환 등으로 분기 영업이익이 개선될 것으로 크게 기대되는 기업
      # 3) 2024년 이익성장률 상위 & 이익전망 하향이 크지 않은 종목 -> 단, 이경우 어닝서프라이즈 데이터가 필요함(컨센서)
    self.volatility_factor = volatility_factor
      # 종목의 변동성
    self.flow_factor = flow_factor
      # 종목의 수급, 거래량, 거래대금


  def FactorDescriptor(self):
    # 종목 수익에 영향을 미치는 요인 선정
    # 1.1) Descriptor Selection(특성치 선정) : 주식은 스타일 팩터와 업종 팩터로 구부
    # 1.2) Wubsorization(극단치 또는 이상치 처리)
    # 1.3) Feature Engineering
    # 1.4) Weighting(특성치별 가중치, PCA)
    # 1.5) Rescaling Zscore(특성치 조합에 따른 Factor의 표준편차 증감을 재조정)


    # 1.1).(1) 가치투자 팩터 인덱스는 액티브 투자전략이라 매년 상당한 교체가 발생하고, 성장에 대한 시대의 기대가 낮은 종목으로 교체된다(EPS상승률이 높은 이유)
    # sales | EBITDA / sales | Earnings / EBITDA

    # EV/EBITDA | F-score(ROA > 0, CFO > 0, dROA > 0, CFO > ROA, dLEVERAGE < 0, dLIQUID > 0, EQ_OFFER(발행주식 수), dMARGIN(매출총이익) > 0, dTURNOVER(회전율) > 0)
    # Value와 Glamour전략

    # [수익성]
    self.MAIN_DATA["ROA"] = self.MAIN_DATA["지배주주순이익"] / self.MAIN_DATA["자산"]
    self.MAIN_DATA["CFO"] = self.MAIN_DATA["영업활동으로인한현금흐름"] / self.MAIN_DATA["자산"]
    self.MAIN_DATA["ACCURUAL"] = self.MAIN_DATA["CFO"] - self.MAIN_DATA["ROA"]
    # [재무적 성과]
    self.MAIN_DATA["LEVER"] = self.MAIN_DATA["장기차입금"] / self.MAIN_DATA["자산"]
    self.MAIN_DATA["LIQ"] = self.MAIN_DATA["유동자산"] / self.MAIN_DATA["유동부채"]
    self.MAIN_DATA["OFFER"] = self.MAIN_DATA["유상증자"]
    # [운영 효율성]
    self.MAIN_DATA["MARGIN"] = self.MAIN_DATA["매출총이익"] / self.MAIN_DATA["매출액"]
    self.MAIN_DATA["TURNOVER"] = self.MAIN_DATA["매출액"] / self.MAIN_DATA["자산"]
    # [F-Score] 고평가주
    for subject in ["ROA", "CFO", "ACCURUAL", "LEVER", "LIQ", "OFFER", "MARGIN", "TURNOVER"]:
      self.MAIN_DATA["F-SCORE"] = self.MAIN_DATA["F-SCORE"] + self.MAIN_DATA[subject].apply(lambda data: np.where(data > 0, 1, 0))

    # [value] EV / EBITDA = 기업의 시장가치 / 세전영업이익(순이익, 이자비용, 법인세, 감가상각비 차감 전) = (시가총액 + 총차입금 - 현금성 자산) / (영업이익 + 감가상각비 + 제세금)



    # 1.1).(2) 성장성 팩터
    self.MAIN_DATA['영업이익 증가율'] = (self.MAIN_DATA['영업이익'].diff() / self.MAIN_DATA['영업이익'].shift(1)).fillna(0) * 100
    self.MAIN_DATA['매출액 증가율'] = (self.MAIN_DATA['매출액'].diff() / self.MAIN_DATA['매출액'].shift(1)).fillna(0) * 100
    self.MAIN_DATA['당기순이익 증가율'] = (self.MAIN_DATA['당기순이익'].diff() / self.MAIN_DATA['당기순이익'].shift(1)).fillna(0) * 100

    # 영업이익, 매출액, 당기순이익의 전환지표
    for i in range(len(status)):
        self.MAIN_DATA[status[i]] = np.nan
        self.MAIN_DATA.loc[
            (self.MAIN_DATA[three_indicators[i]] > 0) & (self.MAIN_DATA[three_indicators[i]].shift(-1) <= 0), status[i]] = "흑자 전환"


    # 1.1).(3) 모멘텀[시장민감도] 팩터
    # t-2월부터 t-12월까지 11개월간 누적수익률을 연간 수익률로 환산한 값

    self.MAIN_DATA["momentum"] = self.MAIN_DATA["return"].pct_change(12)
      # return = 12개월(252일) 수익률
    self.MAIN_DATA["momentum"] = (
        ( self.MAIN_DATA["cummulative_return"].shift(-1) / (self.MAIN_DATA["cummulative_return"].shift(-12) )
        ) -1).groupby(level = [ticker_feature_name] )
      # the first mom signal has to start 12 months after the start of date
    self.MAIN_DATA["momentum"] = self.MAIN_DATA.groupby(level = [ticker_feature_name])["return"].apply(lambda x: x.pct_change(11))


    # 1.1).(4) 사이즈[시가총액 = 보통주 종가*발행주식 수] 팩터
    # cf.) 장부가치 대비 시장가치 = 시가총액 / (자본총계 - 우선주자본금)
    #




  # def FactorExposure(self):
    # 유사한 특성치를 요인으로 그룹핑
    # 전략이 보유하고 있는 포트폴리오의 팩터 스타일 점수를 기준일자 바탕으로 제공하여 해당 전략의 특성을 한눈에 확인가


  # def Risk&ReturnManagement(self):
    # 포트폴리오 및 벤치마크 대비 변동성 예측 / 수익률의 원천인 요인별로 수익률 분해

```
# MaxDrawDown()
  # 최대손실률 = 일정기간(window_length)동안 최고점과 최저점 값의 차이를 백분율로 나타낸 리스크 관련 지표
  # MDD가 높을 수록 변동성이 높다고 판단한다.
  def MaxDrawDown(self):
  # 1. 피크(최고점) 식별
    drawdowns = fmax.accumulate(self.Market_sequrities_data["종가"], axis=0) - self.Market_sequrities_data["종가"]
    drawdowns[isnan(drawdowns)] = NINF
    drawdown_ends = nanargmax(drawdowns, axis=0)
  # 2. 최저점 식별
  # 3. 하락률 계산 = (최저값 - 최고값) / 최고값
    for i, end in enumerate(drawdown_ends):
      peak = nanmax(self.Market_sequrities_data["종가"][: end + 1, i])
      out[i] = (peak - self.Market_sequrities_data["종가"][end, i]) / self.Market_sequrities_data["종가"][end, i]
```

In [ ]:
class FactorEvaluation_PrincipalComponentAnalysis():
  # 요인의 수익 기여도

  def __init__(self, file_path: str):
    self.differencing_market_return = pd.read_csv(file_path, index_col = 0)


# linearCombinationPCA()
  def linearCombinationPCA(self, k: int):
  # 1. 표준화
    mean_matrix = self.differencing_market_return.mean()
    std_matrix = self.differencing_market_return.std()
    substract_mean_matrix = (self.differencing_market_return - mean_matrix)
    normalized_matrix = (self.differencing_market_return - mean_matrix) / std_matrix

  # 2. 공분산 행렬(Calculate the Covariance Matrix of the mean-centered data.)
    covariance_matrix = np.cov(substract_mean_matrix.T)
    # 공분산 행렬의 고유 분해(고유값과 고유벡터를 찾는 작업)를 수행하여 고유벡터(분산방향)와 고유값
    # 행렬 A의 고유값은 A−λI의 행렬식이 0이 되도록 하는 특성방정식(characteristic equation)의 해를 구하면 된다.
    # 고윳값을 알면 다음 연립 방정식을 풀어 고유벡터를 구할 수 있다. (A−λI)v=0
    eigen_values, eigen_vectors = np.linalg.eigh(covariance_matrix)

  # 3. 고윳값과 고유벡터를 내림차순 정렬(모든 고유벡터는 서로 직교함)
  # numpy.linalg.eigh( M, UPLO = 'L'/'U'/'None'(optional))
  # [M] Matrix, M행렬은 본질적으로 실제 대칭인 입력
  # [UPLO] 행렬의 고유값이 계산되는 위(U) 또는 아래(L) 삼각형 부분
    sorted_index = np.arange(0, len(eigen_values), 1)
    sorted_index = ([x for _, x
                     in sorted(zip(eigen_values, sorted_index))])[::-1]
    # 동일한 기능을 하는 소스코드
    # sorted_index = np.argsort(eigen_values)[::-1]
      # [np.argsort] returns an array of indices of the same shape.

    sorted_eigen_values = eigen_values[sorted_index]
    sorted_eigen_vectors = eigen_vectors[:, sorted_index]
    print("내림차순 정렬한 고유값",  "\n", sorted_eigen_values,
          "\n", "내림차순 정렬한 고유벡터",  "\n", sorted_eigen_vectors)

  # 4. 원하는 결합정도에 따라 상위 k의 고유벡터를 선택하는데 모든 고유값의 누적합계로  설명된 분산 기여율 계산
    sum_eigen_values = np.sum(sorted_eigen_values)
    explained_variance = sorted_eigen_values / sum_eigen_values
    cummulative_variance = np.cumsum(explained_variance)
    print("누적 분산 기여율", "\n", cummulative_variance, "\n")
      # [0.92443721 0.9931338  0.99939027 0.99976834 1.        ]

  # 5. 변환된 데이터로 고유벡터의 전치행렬의 내적을 취하여 원본 데이터를 결합(데이터를 중앙에 배치하기 위해 평균을 뺌)
    n_components = k
      # k = 1
    eigen_vectors_subset = sorted_eigen_vectors[:, 0:n_components]

  # 6. 고유벡터를 사용하여 데이터의 좌표방향변환(회전) -> 정사영 / 투영 / 내적
  # PC(주성분 공간에서의 좌표) = Z(표준화된 원래의 좌표)*A(좌표변환행렬) = [z_x, z_y]([a_1, a_2]).T = a_1*z_x + a_2*z_y
  # A(시계방향 45도 회전행렬, Rotation Matrix) = [(cos(45), -sin(45)), (sin(45), cos(45))] = [(0.71, -0.71), (0.71, 0.71)]
    pca_matrix = np.dot(substract_mean_matrix, eigen_vectors_subset)
    # print("좌표변환한 행렬", "\n", pca_matrix, "\n")

    reduction_matrix = pd.Series(np.array(pca_matrix, ndmin = 1).tolist())
    for parenthesis in ["[", "]"]:
      reduction_matrix = reduction_matrix.apply(lambda data: str(data).replace(parenthesis, ""))
    reduction_matrix = reduction_matrix.astype("float")
    reduction_matrix.index = self.differencing_market_index.index
    return reduction_matrix

    # 에러코드
      # ValueError: shapes (5,1) and (5,) not aligned: 1 (dim 1) != 5 (dim 0)
      # k_reduction_matrix  = np.dot(eigen_vectors_subset, mean_matrix.transpose()).transpose()


# SklearnlinearPCA()
# Scikit-Learn 모듈을 활용한 주성분과 결과가 같은지 비교
  def SklearnlinearPCA(self, k: int):

    from sklearn.decomposition import PCA

    sklearn_pca= PCA(n_components = k)
    self.scaled_market_return = self.differencing_market_return.apply(
        lambda data: data - data.mean() / data.std())

    sklearn_pca.fit(self.scaled_market_return)
    sklearn_pca_matrix = sklearn_pca.transform(self.scaled_market_return)
    return sklearn_pca_matrix


# sparsePCA() 희소주성분분석
  def SklearnSparsePCA(self, k: int, c: float):

    from sklearn.decomposition import SparsePCA
    # L1 정규화는 가중치 벡터의 절댓값 합을 최소화
    # L1 정규화를 PCA에 적용함으로써, 주성분 벡터의 일부 요소는 0으로 만들어지고, 다른 요소들은 비교적 큰 값을 가지게 된다.
    # L1 정규화의 강도를 조절하는 하이퍼파라미터
    sklearn_sparse_pca= SparsePCA(n_components = k, alpha = c , random_state = 2023)
    self.scaled_market_return = self.differencing_market_return.apply(
        lambda data: data - data.mean() / data.std())

    sklearn_sparse_pca.fit(self.scaled_market_return)
    sklearn_sparse_pca_matrix = sklearn_sparse_pca.transform(self.scaled_market_return)

    sparse_pca_matrix = pd.Series(np.array(sklearn_sparse_pca_matrix, ndmin = 1).tolist())
    for parenthesis in ["[", "]"]:
      sparse_pca_matrix = sparse_pca_matrix.apply(lambda data: str(data).replace(parenthesis, ""))
    sparse_pca_matrix = sparse_pca_matrix.astype("float")
    sparse_pca_matrix.index = self.differencing_market_index.return
    return sparse_pca_matrix

In [ ]:
PCAinstance = FactorEvaluation_PrincipalComponentAnalysis(
    file_path =  "/content/drive/MyDrive/")

In [ ]:
factorReturn_linearPCA = PCAinstance.linearCombinationPCA(k = 1)
# factorIndex_sklearnSparsePCA = PCAinstance.SklearnSparsePCA(k = 1, c = 0.1)

In [ ]:
factorReturn_linearPCA